h1 {
  text-align: center;
}

.wrapper_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper_page .left_colum {
  position: absolute;
  left: 20%;
}

.wrapper_page .left_colum > label {
  display: block;
}

.wrapper_page .right_colum {
  position: absolute;
  right: 20%;
}

.wrapper_page .right_colum > label {
  display: block;
}

.wrapper_page .right_colum .hover-copy #copy {
  opacity: 0;
  position: relative;
  -webkit-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper_page .right_colum .hover-copy:hover #copy {
  opacity: 1;
}
