h1{
	text-align: center;
}
.wrapper_page{
	display: flex;

	.left_colum{
		position: absolute;
		left: 20%;

		&>label{
			display: block;
		}
		.wrapper_symbols{

		}

	}
	.right_colum{
		position: absolute;
		right: 20%;

		&>label{
			display: block;
		}
		.hover-copy{
			#copy{
				opacity: 0;
				position: relative;
				width: 25px;
				left: -30px;
				transition: 0.2s;
			}
		}
		.hover-copy:hover{
			#copy{
				opacity: 1;
			}
		}
	}
}